<h1>Editing Clase</h1>

<%= render 'form', clase: @clase %>

<%= link_to("Borrar", @clase, method: :delete, class: "action-button little-button")%>

<%= link_to 'Show', @clase, class: "action-button little-button" %>
