<h1><%= @clase.nombre %></h1>
<hr id="page-title-separator"/>
<%= link_to 'Editar', edit_clase_path(@clase), class: "action-button little-button"%>

<h3>Tareas</h3>

<ul>
  <% @clase.tareas.each do |tarea| %>
    <li><%= link_to tarea.id, url_for([tarea.clase, tarea]) %></li>
  <% end %>
</ul>
