<h1>Mis Clases</h1>
<%= link_to("+ Añadir Clase", new_clase_path, class: "action-button little-button") %>

<ul class="clase-scroll">
  <% current_user.clases.each do |clase| %>
    <%= render partial: 'clases/components/card.html.erb', locals: {clase: clase} %>
  <% end %>
</ul>
